<%= form_with model: post do |form| %>
    <div>
      <%= form.label "Título" %><br>
      <%= form.text_field :title %>
      <% post.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label "Conteúdo" %><br>
      <%= form.text_area :body %>
      <% post.errors.full_messages_for(:body).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.submit "Salvar" %>
    </div>
<% end %>