<%= render "page_structure" %>
<h1><%= @post.title %></h1>

<p><%= @post.body %></p>

<ul>
    <li><%= link_to "Voltar para página inicial", root_path %></li>
    <li><%= link_to "Editar post", edit_post_path(@post) %></li>
    <li><%= link_to "Excluir post", post_path(@post), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Você tem certeza que deseja excluir esse post?"
                      } %></li>
</ul>