<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minhas atividades</title>
    
    <style>
        section {
            margin: 0 40px ;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        
        section div {
            margin: 0 20px;
            padding: 3px 20px;
            border: 1px solid cadetblue;
            border-radius: 5px;
        }
    </style>
</head>
<body>

    <header>
        <h1>Minhas atividades</h1>
        <a href="/cadastrar">Cadastrar atividade</a>
    </header>
    
    <section>
        <h2>Submetidas</h2>

        <% @submetidas.each do |atividade| %>
            <div>
                <a href="<%= atividade_path(atividade) %>">
                    <p>Ação: <%= atividade.acao_extensao %></p>
                    <p>Tipo: <%= atividade.tipo || '-' %></p>
                    <p>Carga horária: <%= atividade.horas %>h</p>
                    <p>Data de submissão: <%= atividade.data_submissao.strftime("%d/%m/%Y") %></p>
                </a>
            </div>
        <% end %>
    </section>

    <section>
        <h2>Integralizadas</h2>

        <% @integralizadas.each do |atividade| %>
            <div>
                <a href="<%= atividade_path(atividade) %>">
                    <p>Ação: <%= atividade.acao_extensao %></p>
                    <p>Tipo: <%= atividade.tipo || '-' %></p>
                    <p>Carga horária: <%= atividade.horas %>h</p>
                    <p>Data de submissão: <%= atividade.data_submissao.strftime("%d/%m/%Y") %></p>
                    <p>Data de aprovação: <%= atividade.data_aprovacao.strftime("%d/%m/%Y") %></p>
                </a>
            </div>
        <% end %>
    </section>

    <section>
        <h2>Indeferidas</h2>

        <% @indeferidas.each do |atividade| %>
            <div>
                <a href="<%= atividade_path(atividade) %>">
                    <p>Ação: <%= atividade.acao_extensao %></p>
                    <p>Tipo: <%= atividade.tipo || '-' %></p>
                    <p>Carga horária: <%= atividade.horas %>h</p>
                    <p>Data de submissão: <%= atividade.data_submissao.strftime("%d/%m/%Y") %></p>
                </a>
            </div>
        <% end %>
    </section>
</body>
</html>